<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h2>Add Project Details</h2>
    </div>

    <ul class="list-group">

      <li class="list-group-item"><div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "Project Name" %>
      </div></li>

      <li class="list-group-item"><div class="form-group">
        <%= f.text_area :description, class: "form-control", placeholder: "Project Description" %>
      </div></li>

     <li class="list-group-item"><div class="form-group">
       <%= f.text_field :url, class: "form-control", placeholder: "URL Format: https://example.com" %>
      </div></li>

    </ul>

    <div class="form-group">
      <%= f.submit class: "btn btn-default" %>
      <%= link_to "Back", posts_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>
